* {
  margin: 0;
  padding: 0;
}

section {
  background-color: #f63;
  height: 100vh;
  position: relative;
}

section form {
  width: 300px;
  min-height: 300px;
  padding: 10px;
  background-color: #fff;
  position: absolute;
  top: 70px;
  left: 800px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #f63;
}

section form input[type="email"],
section form input[type="password"] {
  border: 1px solid #f63;
  outline: none;
  border-radius: 5px;
  width: 200px;
  padding: 10px 10px;
  margin-top: 10px;
}

section form input[type="submit"] {
  width: 200px;
  height: 50px;
  background-color: #f63;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}
